html, body {
	width: 100%;
	height: 100%;
	background-color: slategray;
	color: white;
}

#viz {
	display: block;
	position: relative;
	width: 99%;
    height: 94%;
}

.card {
	cursor: pointer;
	border-radius: 6px; /*50%; */
	width: 30px;
	height: 30px;
	position: absolute;
	border: 2px solid white;
	background-color: #1f77b4;/*teal; */
	transition: all;
	transition-duration: 50ms;
	transform: translate3d(0,0,0) rotate(0deg) rotateY(0deg);
	-webkit-transform: translate3d(0,0,0) rotate(0deg) rotateY(0deg);
}

circle {
	fill: lightblue;
	stroke-width: 1;
	stroke: darkgray;
	transition: all;
	transition-duration: 200ms;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}
