body {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	background-color: slategray;
	color: white;
	font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
}

/*body {
	padding: 5px;
}*/

#viz {
	display: block;
	position: relative;
	width: calc(100% - 15px);
    height: calc(100% - 60px);
}

.card {
	cursor: pointer;
	border-radius: 6px; /*50%; */
	width: 30px;
	height: 30px;
	position: absolute;
	border: 2px solid white;
	background-color: #aec7e8;/*teal; */
	transition: all;
	transition-duration: 50ms;
	transform: translate3d(0,0,0) rotate(0deg) rotateY(0deg);
	-webkit-transform: translate3d(0,0,0) rotate(0deg) rotateY(0deg);
}

circle {
	fill: lightblue;
	stroke-width: 1;
	stroke: darkgray;
	transition: all;
	transition-duration: 200ms;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}
